.navbar {
  background-color: #3f51b5;
  border-bottom: 0;
}
a {
  border-top: 4px solid #3f51b5;
  color: #ffffff;
  opacity: 1;

}
.active {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: 4px solid #3f51b5;
  background-color:  #e7e7e7 ;
  color: #000;
  transition: 0.5s opacity;
}
