<div class="container">
    <mat-accordion>
    <mat-expansion-panel (opened)="exibir = true" (closed)="exibir = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Novo teste
          </mat-panel-title>
          <mat-panel-description>
            adicionar teste
          </mat-panel-description>
        </mat-expansion-panel-header>
    <app-teste-form></app-teste-form>
    </mat-expansion-panel>
  <ul>
    <li *ngFor="let teste of testes">
      <mat-card class="card">
        <mat-card-title>
          {{teste.titulo}}
          <span></span>
        </mat-card-title>
        <div class="rodape" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.8%" fxLayoutGap.sm="0px">
          <div class="button-row">
              <button mat-raised-button color="warn" (click)="deletarTeste(teste.id)">Deletar</button>
            </div>
        </div>
        <mat-expansion-panel (opened)="exibir = true" (closed)="exibir = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Detalhes / Editar
              </mat-panel-title>
              <mat-panel-description>
                ver detalhes
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-teste-form [teste]="this.teste"></app-teste-form>
          </mat-expansion-panel>
      </mat-card>
    </li>
  </ul>
  </mat-accordion>
</div>
