<div>
  <mat-sidenav-container class="sidebar-container">
    <mat-sidenav mode="side" *ngIf="candidatoLogado || empresaLogado" [opened]="opened" fixedInViewport="Fixed">
      <mat-nav-list>
          <mat-card  class="titulo-div">
              <div class="btn-opc">
                  <a mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>settings</mat-icon>
                  </a>
                  <mat-menu #menu="matMenu">
                    <a mat-menu-item (click)="logout()">
                      Sair
                    </a>
                  </mat-menu>
                </div>
            <mat-card-header *ngIf="candidatoLogado">
              <div mat-card-avatar class="candidato-image"></div>
              <mat-card-title>{{candidatoLogado.nome}}</mat-card-title>
              <mat-card-subtitle>Candidato</mat-card-subtitle>
            </mat-card-header>
            <mat-card-header *ngIf="empresaLogado">
                <div mat-card-avatar class="empresa-image"></div>
                <mat-card-title>{{empresaLogado.razaoSocial}}</mat-card-title>
                <mat-card-subtitle>Empresa</mat-card-subtitle>
              </mat-card-header>
          </mat-card>
        <a mat-list-item routerLink="/vagas" routerLinkActive="active">
          <mat-icon>list</mat-icon> Vagas
        </a>
        <a mat-list-item routerLink="/nova" routerLinkActive="active" *ngIf="empresaLogado">
          <mat-icon>add</mat-icon> Adicionar Vaga
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-icon *ngIf="empresaLogado || candidatoLogado" class="btn-open" (click)="opened = !opened">{{opened ? 'arrow_back_ios' : 'arrow_forward_ios'}}
      </mat-icon>
      <app-alerta></app-alerta>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
