

.espaco {
  flex: 1 1 auto;
}

.textos-rodape {
  font-size: 14px;
}

.textos-rodape mat-icon {
  color: rgba(0,0,0,.54);
  text-align: center;
  vertical-align: sub;
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.btn-opc {
  position: absolute;
  right: 0;
  margin: -12px 34px 0px 0;
}

.btn-opc .mat-icon-button {
  width: 0;
  height: 0;
}
