<div class="container">
    <mat-accordion>
    <mat-expansion-panel (opened)="exibir = true" (closed)="exibir = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nova vaga
          </mat-panel-title>
          <mat-panel-description>
            adicionar vaga
          </mat-panel-description>
        </mat-expansion-panel-header>
    <app-vaga-form></app-vaga-form>
    </mat-expansion-panel>
  <ul>
    <li *ngFor="let vaga of vagas | async">
      <mat-card class="card">
        <mat-card-title>
          {{vaga.nome}}
          <span></span>
        </mat-card-title>
        <mat-card-subtitle>{{vaga.empresa}}</mat-card-subtitle>
        <mat-card-content>
          <p>
            {{vaga.descricao}}
          </p>
        </mat-card-content>
        <div class="rodape" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.8%" fxLayoutGap.sm="0px">
          <div class="rodape-esquerda" fxFlex="80%">
            <span>
              <mat-icon>room</mat-icon>{{vaga.cidade}} - {{vaga.estado}}
            </span> |
            <span>
              <mat-icon>alarm</mat-icon>{{vaga.data | date }}
            </span> |
            <span>
              <mat-icon>work</mat-icon>{{vaga.periodo}}
            </span>
          </div>
          <div class="button-row">
              <button mat-raised-button color="warn" (click)="deletarVaga(vaga.id)">Deletar</button>
            </div>
        </div>
        <mat-expansion-panel (opened)="exibir = true" (closed)="exibir = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Detalhes / Editar
              </mat-panel-title>
              <mat-panel-description>
                ver detalhes
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-vaga-form [vaga]="this.vaga"></app-vaga-form>
          </mat-expansion-panel>
      </mat-card>
    </li>
  </ul>
  </mat-accordion>
</div>
