ul {
  padding: 0;
}
li {
  list-style: none;
}
.right {
  text-align: right;
}
.rodape-esquerda{
  color: rgba(0,0,0,.54);
  font-size: 14px;
}
.rodape-esquerda .mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
